body {
    background-color: #f8f8f8
}
.menu {
	display: flex;
	justify-content: flex-end;
}
.menu a {
    font-style: italic;
	font-size: 18px;
	color: #f8f8f8;
	text-decoration: none;
	background-color: #e06b5a;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 30px;
}
.menu li {
	color: green;
	display: block;
	width: 32%;
	border: 1px solid #f8f8f8;
	margin-top: 10px;
}
.menu a:hover {
	color: brown;
}
.cakeHead strong {
    color: black;
    font-size: 18px;
    font-weight: bolder;
    background-color: #eaeaea;
}
.cakeHeado  {
    font-style: italic;
    color: #707070;
    font-size: 14px;
    line-height: 16px;
}
.cakeHeado2  {
    color: #474747;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.cakeHeado3  {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: inherit;
}
.resizedTextbox {
    width: 1000px;
    height: 200px;
    font-size: 20px;
    font-weight: 300;
    color: #b49678;
    margin: 0 0 4px;
    text-transform: capitalize;
}
.kontactN {
    font-size: 20px;
    font-weight: 300;
    color: #b49678;
    margin: 0 0 4px;
}
.kontactEM {
    font-size: 20px;
    font-weight: 300;
    color: #b49678;
    margin: 0 0 4px;
}
input.kontactEM:focus {
    background-color: khaki;
    color: #140703;

}

.headblock {
    background: #F2EFE6;
    border: 1px solid #B25538;
    padding: 10px;
    width: auto;
    height: auto;
}
.foot {
    padding: 10px;
    width: auto;
    height: auto;
	background: #98602d;
}
.prava {
	margin: 5px 10px;
	text-align: right;
}
.logo {
    float: left;
    width: 120px;
    height: 120px;
    padding-left: 10px;
}

.table {
    border-collapse: collapse;
    border: 1px solid black ;
    }
.table td {
    border-collapse: collapse;
    border: 1px solid black
}
.container {
	width: 1000px;
	margin: 0 auto;
}
header{
    height: 120px;

}
.smimgKat{
    width: 220px;
    height: 200px;
    border: solid 1px green;
    
}
.smimg{
    width: 220px;
    height: 200px;
    float: left;
    margin: 0 20px 0 0;
    border: solid 1px green;
}

.sprava{
	font-style: italic;
	text-align: center;
}
.buy input {
	width: 130px;
	height: 50px;
	border: 1px solid ;
	background-color: #009fe3;
	font-size: 18px;
	margin: 70px 0 0 50px;
}
.buy input:hover {
	background-color: #0bda51;
}
.container_Kat{
	display: flex;
	justify-content: space-between;
}